/* Styling for the Github Search  */

.profileAndRepos {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.search {
  margin-top: 15px;
  display: flex;
  justify-content: space-around; 
}

.navbar {
  padding: 20px;
  background-color: rgb(233, 224, 222);
  text-align: center;
}